<h1 class="mt-5">Book your Flight</h1>
<p class="lead">please register or sign in to continue</p>
<%= link_to "sign up",new_user_registration_path,class:"btn btn-success"%>
<%= link_to "sign in", new_user_session_path, class:"btn btn-primary" %>